* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #ffffff;
  line-height: 1.2;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 49px 96px;
}

.header__menu {}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  margin: 0;
  padding-left: 10px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 4px;
  font-size: 18px;
  color: inherit;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
}

.header__logo-image {
  display: block;
  width: 100%;
}

.header__address {
  font-style: normal;
  max-width: 240px;
  justify-self: end;
  font-size: 18px;
  line-height: 24px;
}

.cover {
  position: relative;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: center;
  padding: 165px 50px 50px;
  color: #fff;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 1;
}

.cover__title {
  position: relative;
  z-index: 2;
  font-size: 100px;
  line-height: 1.15;
  text-transform: uppercase;
  letter-spacing: 26px;
}

.aligned-text {
  display: block;
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  position: relative;
  z-index: 2;
  margin-top: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.cover__description-text {
  font-size: 22px;
  word-spacing: 20px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.bet-button {
  background: transparent;
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  z-index: 2;

  /* сброс браузерных */
  border-radius: 0;
  outline: none;
}

.lots {
  padding: 180px 50px 0;
}

.lots__heading {
  font-size: 40px;
  margin-bottom: 30px;
  margin-left: 30px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  flex: 1 1 calc((100% - 50px) / 3);
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.card {
  position: relative;
  height: 100%;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.card .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 1;
}

.card__title {
  position: relative;
  z-index: 2;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  position: relative;
  z-index: 2;
  font-size: 20px;
}

.lots__look-more-link {
  display: block;
  margin-top: 30px;
  margin-left: 30px;
  font-size: 20px;
  text-decoration: underline;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 150px 50px;
  align-items: start;
}

.about__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.about__logo-image {
  width: 60%;
  height: auto;
}

.about__title {
  font-size: 40px;
  padding: 100px 50px 100px 0;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
}

.about__text p:first-child {
  margin-bottom: 20px;
}

.footer {
  display: grid;
  margin-top: 40px;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer__address {
  font-style: normal;
  max-width: 240px;
  justify-self: start;
  font-size: 18px;
  line-height: 24px;
}

.address__item + .address__item {
  margin-top: 8px;
}

.footer__menu {
  display: flex;
  justify-content: center;
  line-height: 1;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-list-item + .footer__menu-list-item {
  margin-top: 8px;
}

.footer__menu-link {
  font-size: 18px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
